@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300;1,400&display=swap");
:root {
  --initial: rgb(8, 48, 85);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* styling the side bar */
li {
  list-style-position: inside;
}
.content {
  width: 75%;
  margin: 2em auto;
  display: flex;
  flex-direction: row;

  border: 2px solid var(--initial);
  border-radius: 5px;
}
.content .left-side-part {
  width: 40%;
  background-color: var(--initial);
}

.content .right-side-part {
  padding: 20px;
}

.heading > h1,
.introduction > h1,
.introduction > h3 {
  color: var(--initial);
}
.details {
  border-bottom: 1px dashed green, 10%;
  padding-bottom: (50 * 0.5) px;
  margin-bottom: 50px;
  margin-top: 1em;
  position: relative;
}

.content-wrapper {
  margin: 0.8em 3em;
  /* position: absolute; */
}

.content-wrapper ul {
  margin-top: 1.2em;
}

.first-row,
.second-row {
  display: flex;
  flex-direction: row;
  padding-right: 3em;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 1em;
  background-color: var(--initial);
}
.find-me .icon {
  margin-left: -1.5em;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(8, 48, 85);
}
i {
  color: aliceblue;
}

.stressed {
  font-weight: 600;
}

.phone,
.linkedIn,
.email,
.twitter {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex: 0.6;
}

.first-row,
.second-row {
  margin: 0.5em 1em;
  justify-content: center;
}

.find-me span {
  align-items: center;
}

.timeline-item {
  position: relative;
}

.timeline-item p {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 0.5em;
  width: fit-content;
  font-weight: 600;
  font-size: 13px;
  right: 110%;
}

.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0.7rem;
  left: -2.32rem;
  background-color: var(--initial);
  border-radius: 50%;
}

.Skills p::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  /* top: 0.01rem; */
  align-items: center;
  left: 1.02rem;
  background-color: var(--initial);
  border-radius: 50%;
}

.level .bullets div {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--initial);
}

.proficiency {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proficiency .level {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: -20em;
}

.proficiency .level .bullets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.proficiency .level .not-filled {
  background-color: lavender;
}
